# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -----------------------------
# Virtual environments
# -----------------------------
.venv/
venv/
env/

# -----------------------------
# Environment variables / secrets
# -----------------------------
.env
.env.*

# -----------------------------
# Logs & temp files
# -----------------------------
*.log
*.tmp

# -----------------------------
# OS / Editor noise
# -----------------------------
.DS_Store
.idea/
.vscode/